<form>
    <fieldset>
        <legend>Query</legend>
        <label> Args : </label>
        Arg 1 : <input title="queryArg1" type="text" ng-model="queryObj.args[1]">
        <input type="submit" value="Query" ng-click="query()">
    </fieldset>
    <fieldset>
        <legend>Transaction</legend>
        <label> Args : </label>
        Arg 1 : <input title="transactionArg1" type="text" ng-model="transactionObj.args[1]">
        Arg 2 : <input title="transactionArg2" type="text" ng-model="transactionObj.args[2]">
        Value : <input title="transactionValue" type="text" ng-model="transactionObj.args[3]">
        <input type="submit" value="Invoke" ng-click="invoke('transaction')">
    </fieldset>
    <fieldset>
        <legend>Fusion</legend>
        <label> Args : </label>
        Arg 1 : <input title="fusionArg1" type="text" ng-model="fusionObj.args[1]">
        Arg 2 : <input title="fusionArg2" type="text" ng-model="fusionObj.args[2]">
        <input type="submit" value="Invoke" ng-click="invoke('fusion')">
    </fieldset>
    <fieldset>
        <legend>Add</legend>
        <label> Args : </label>
        Arg 1 : <input title="addArg1" type="text" ng-model="addObj.args[1]">
        Value : <input title="addValue" type="text" ng-model="addObj.args[2]">
        <input type="submit" value="Invoke" ng-click="invoke('add')">
    </fieldset>
    <span ng-bind="result"></span>
</form>